@charset "ISO-8859-1";
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar
{
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left: 30px;
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: rgb(51,83,130);
}
.cname
{
	font-family:'Lucida Sans';
	font-style:oblique;
}
nav
{
    flex: 1;
    text-align: right;
}
nav ul 
{
    display: inline-block;
    list-style: none;
    padding:0;
    margin:0;
    float: right;
    margin-right:30px;
}
nav ul li
{
    display: inline-block;
    background:rgb(51,83,130) ;
    list-style:none;
    position: relative;
}
nav ul li a
{
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-family: sans-serif;
    display: block;
    line-height:30px;
    padding:0 15px;
}
nav ul li button
{
    font-size: 18px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
}
nav ul li button:hover
{
    color:#C2EDCE;
}
nav ul li a:hover
{
    display:block;
    color:#C2EDCE;
}
nav ul ul
{
	position: absolute;
	top:30px;
	display:none;
}
nav ul li:hover > ul
{
	display:block;
}
nav ul ul li
{
	width:150px;
	float :none;
	display: list-item;
	position:relative;
}

a
{
    text-decoration: none;
    color:white;
    font-size: 28px;
}
.a1
{
    text-decoration: none;
    color: rgb(51,83,130);
    font-size: 15px;
}
#col .col1
{
    float:left;
	width: 30%;
	padding-top: 40px;
	padding-left: 10px;
}
#col .col2
{
	font-size: 22px; 
	font-style: oblique;
	float:right;
	width: 70%;
	padding-top: 200px;
	padding-left:30px;
	padding-right:20px;
	color:rgb(51,83,130);
	font-family: 'Lucida Sans';
}
.tet
{
	font-size:35px ;
	font-family: 'Lucida Sans';
	padding-left: 30px;
	padding-right:10px;
	font-style: oblique;
}
.row:after
{
  content: "";
  display: table;
  clear: both;
}
.submit-btn
{
	width: 15%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: rgb(51,83,130);
	border: 0;
	outline: none;
	border-radius: 30px;
    color:white;
    
}

b
{	
	margin-bottom: 10px;
	margin-top: 20px;
	width: 70%;
	text-align: center;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	font-family:Lucida Sans;
	font-size:30px;
}
